/* *****************************
* Author: L. Fisher
* URI: www.MVFLoans.com
* Date: 09/04/14
***************************** */

	a, a:active, a:focus {
		outline: none;
	}

	h1, .h1{
		 font-size: 36px;	
	}

	h2, .h2{
		 font-size: 30px;
	}

	h3, .h3{
		 font-size: 24px;
	}

	h4, .h4{
		 font-size: 18px;
	}

	h5, .h5{
		 font-size: 14px;
	}

	h6, .h6{
		 font-size: 12px;
	}

/* *******************
* Agent Profile
******************* */

	.profileImg img{
		width: 200px; 
		height: 200px;
		background: #ccc;
		border: thin solid #dedede;
		position: relative;
		padding: 4px;
		margin: 0 0 20px 0;
	}

	.profileImg span.glyphicon-download-alt{
		position: absolute;
		left: 180px;
    		top: 170px;
	}

	.profileLabel{
		float: left; 
		width: 70px; 
		text-align: left; 
		margin: 0 0 10px 0; 
		font-weight: bold;
	}

	.profileText{
		display: inline-block; 
		width: 75%; 
		margin: 0; 
		outline: 0; 
	}

	.leadCount{
		font-weight: bold; 
		font-size: 2.5em; 
		margin: 10px 0 10px 0;
	}

	.leadLabel{
		margin: 0; 
		font-size: 1em;
	}


/* ************************
* MISC
************************* */

	.btn-success-bright {
		background-color: #17B727;
		color: #fff;
		padding: 10px 10px;
		font-weight: bold;
	}

	.btn-success-bright:hover {
		color: #fff;
		background-color: #4B9D15;
	}

	.bottomMargin10{
		margin-bottom: 10px;
	}
	
	.redText{
		color: #ff0000;
	}

	.pagination > li > a, .pagination > li > span{
		padding: 0px 10px;
	}

	.noTop{
		margin-top: 0 !important;
	}

	.subHeader{
		text-align: center;
		font-weight: bold;
		font-size: 16px;
	}

	.homeTopList{
		font-weight: bold; 
		padding-bottom: 30px;
	}

	.homeTopList li:first-child{
		margin-right: 40px;
	}

	.homeTopList li{
		float: left;
	}

/* ************************
* RECENT ACTIVITY
************************* */
	
	.recentActivityUl .pagination, .statusList .pagination{
		float: right;
	}

	.recentActivityUl .pagination li{
		padding: 0 !important;

	}

	.recentActivityUl .pagination > li > a, .recentActivityUl .pagination > li > span{
		padding: 2px 10px;
	}

	ul.recentActivityUl{
		padding: 0;
		margin: 0;
	}

	.recentActivityUl li{
		list-style: none;
		font-size: .8em;
		padding: 5px 5px 5px 5px;
		margin-bottom: 0;
	}

	.recentActivityUl li a{

	}

	.recentActivityUl li p.activityDetails:hover{
		background: #ccc;
	}

	.recentActivityUl li p.activityDetails{
		margin: 0;
		background: #f1f1f1;
		float: left;
		display: block;
		padding: 2px 0 2px 5px;
		width: 99%;
		border-left: 2px solid #89f893;
	}

	.recentActivityUl li span.activityDate{
		color: #3A3A3A;
		margin: 0 5px 0 0;
		padding: 0 1px;
	}

	textarea, textarea.form-control, input[type=text], input[type=password], input[type=email], input[type=number], [type=text].form-control, [type=password].form-control {
		padding: 2px;
		border: thin solid #eee;
		border-radius: 0;
		-webkit-box-shadow: inset 0 -1px 0 #ddd;
		box-shadow: inset 0 -1px 0 #ddd;
		font-size: 16px;
		background: #fff;
	}

	.disabledError{
		font-size: .9em; 
		font-style: italic;
	}

	.agentFeaturesSignup ul li{
		font-weight: bold;
		margin: 5px 0;
	}

/* ***************
Datatables
*************** */
	.table-striped>tbody>tr:nth-child(odd)>td, .table-striped>tbody>tr:nth-child(odd)>th {
		background-color: #f9f9f9;
		border-right: thin solid #ccc;
	}

	.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
		padding: 8px;
		line-height: 1.42857143;
		vertical-align: top;
		border-top: 1px solid #ddd;
		border-right: thin solid #ccc;
	}

	thead {
		background: #e4e4e4;
		color: #000;
	}

	#users_length > label > select{
		padding: 4px;
	}


	#clearFilter{
		margin-top: -2px;
	}

	#clients_filter input{
		margin-left: 5px;
	}

	#clients_length select{
		padding: 5px;
	}

/* ****************
Alerts
****************** */

	.alert-danger {
		background-color: #f9bdbb;
		border-color: #f7a4af;
		color: #e51c23 !important;
	}

	.alert-success{
		color: #4EA74E !important;
	}

	.alert .close {
		color: #000;
	}

/* ****************
Colorbox controls
****************** */

#cboxClose {
    background-position: -27px 0 !important;
    right: 0;
}
#cboxPrevious, #cboxNext, #cboxSlideshow, #cboxClose {
    background: url("images/controls.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 0 none;
    height: 23px;
    margin: 0;
    overflow: visible;
    padding: 0;
    position: absolute;
    text-indent: -9999px;
    top: -25px;
    width: 22px;
}


/* ***************
Agent > Dashboard
*************** */
	#clients_processing{
		color: #ccc;
		margin-left: 14px;
	}

	.btnBig{
		width: 230px; padding: 10px 0;
	}

	.dashSideAgent span{
		font-weight: bold;
	}

		.dashSideAgent p{
			margin: 0 0 0 5px;
		}

	 ol.clientList li{
		margin: 10px 0 0 0;
		padding: 4px;
	}

		 ol.clientList li:hover{
		 	background: #EEEEEE;
		 	border-radius: 2px;
		 }

	.nav-tabs {
		border-bottom: 1px solid #ddd;
		margin-bottom: 10px;
	}

	.loginAlert{
		font-weight: bold;
	}

	.glyphicon-off, .glyphicon-log-out{
		color: #C1383C;
	}
	 
	.sidebarH4{
		color: #000; 
		border-bottom: thin solid #ccc; 
		padding-bottom: 2px;
		font-size: 1.4em; 
		text-decoration: none; 
		border-bottom: none; 
		margin-top: 15px;
	}

	.tblStatus{
		background: rgb(26,219,43); 
		border-radius: 2px;
		display: block; 
		padding: 1px; 
		text-align: center;
		color: #fff; 
		text-transform: uppercase;
	}

/* ***************
Base
*************** */
body{
	line-height: 26px;
	font-family: Helvetica,Arial,sans-serif;
	font-size: 14px;
}

blockquote {
	padding: 5px 15px;
	margin: 0 0 15px;
	font-size: 12px;
	font-style: italic;
	border-left: none;
}

.loginCheckbox label{
	display: inline-block !important;
}

input#remember{
position: absolute;
margin-top: -20px;
margin-left: -20px;
}

.mainTitle{
	border-bottom: thin solid #ffd7ae;
}

.disclaimer{
	width: 100%; 
	font-size: .85em; 
	margin: 0 auto;
}

.logo{
	display: block; 
	float: left; 
	margin: 5px 10px 5px 5px;
}

	.logo img{
		border-radius: 2px;
	}

.redIcon{
	color: #ff0000;
}

.grayIcon{
	color: #333333;
}

.noMargin{
	margin: 0;
}

/* ****************
Home Page
***************** */
.subTexth4{
	text-align: center;
	color: #0981EF;
	margin: 20px 0;
}

#homeWrap p{
	margin-left: 10px;
}

	#homeWrap h3{
		border-bottom: thin solid #FF8100;
	}

/* ***************
Navigation
*************** */
.dropdown:hover .dropdown-menu {
    display: block;
 }

#adminUI #defaultNav{
	background: #0981EF;
	border-bottom: #50A2EC 4px solid;
}

#defaultNav{
	background: #0981EF;
	border-bottom: #7b7b7b thin solid;
}

	#defaultNav .user-nav{
		margin-top: 10px;
		/*background: #5CB1FF !important;*/
		padding: 5px; 
		/*border: outset 1px;*/
	}

		.user-nav>li>a{
			margin-right: 4px;
			margin-left: 4px;
		}

	#defaultNav .navbar-nav{
		margin-top: 10px;
		padding: 5px;
	}

	.navbar-inverse .navbar-nav>li>a{
		color: #fff;
		padding-top: 5px;
		padding-bottom:5px;
		background: #1e90f8;
		border-radius: 2px;
		border-bottom: 2px solid #fff;
	}

		.navbar-nav>li>a {
			margin-right: 5px;
		}

	.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus{
		background: #0771d3;
		text-decoration: none;
		border-bottom: thin solid #ccc;
	}

	.navbar-inverse .navbar-nav>.active>a {
		background-image: none;
		background-image: none;
		background-repeat: repeat-x;
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff222222', endColorstr='#ff282828', GradientType=0);
		-webkit-box-shadow: none;
		box-shadow: none;
		border-radius: 2px;
		
	}

	.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus{
		background: #5cb1ff;
		color: #fff;
		font-weight: bold;
	}

.dropdown-menu {
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1000;
	display: none;
	float: left;
	min-width: 133px;
	padding: 5px 0;
	margin: 0 0 0 4px !important;
	list-style: none;
	font-size: 14px;
	background-color: #fff;
	border: 1px solid #ccc;
	border: 1px solid rgba(0,0,0,.15);
	border-radius: 4px;
	-webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
	box-shadow: 0 6px 12px rgba(0,0,0,.175);
	background-clip: padding-box;
}

	.dropdown-menu>li{
		margin: 5px 0 5px 0;
	}

.dropdown-menu>li>a{
	width: 100%;
	padding: 10px 20px;
}

.signupBtn a{
	background-color: #17b727 !important;
	border: thin solid #0d981b;
}

	.dashBtn{
		background-color: #17b727 !important;
		border: thin solid #0d981b;
	}

.pageWrap{
	margin-top: 10px;
}

/* ****************
Admin >> Edit Agent Profile
****************** */
.editAgentDetails span{
	font-weight: bold;
}

/* ***************
Admin >> Client Status Page
*************** */
.page-header {
	padding-bottom: 9px;
	margin: 20px 0 20px;
	border-bottom: 1px solid #eee;
}

.clientInfoHeader{
	padding: 5px;
	margin-bottom: 20px;
}

ul.clientDetailList{
	margin: 0;
	padding: 4px;
	border: thin solid #f1f1f1;
}

ul.clientDetailList li{
	list-style: none;
	margin: 5px 5px 10px 5px;
	padding: 0;
}

	ul.clientDetailList li span{
		font-weight: bold;
		border-bottom: thin solid #ccc;
		display: block;
		text-align: left;
	}

	ul.clientDetailList li p:first-child{
		margin: 5px 0 0 0;
		text-indent: 10px;
		font-weight: bold;
	}


	ul.clientDetailList li p{
		margin: 5px 0 0 5px;
		text-indent: 10px;
	}

#statusTable{
	
}

	#statusTable th{
		font-size: .9em;
		border: thin solid #ccc;
		padding: 5px;
	}

	#statusTable tbody tr td{
		text-align: center;
		padding: 10px 0 0 0;
	}

.clientProfile{
	clear: both;
}

	.profileAgentInfo{
		text-align: center; padding: 4px; background: #fff; font-weight: bold;
	}

	.clientProfile h5, .statusUpdates h5, .quickStatusUpdates h5{
		border-bottom: thin solid #ccc; 
		font-weight: bold; 
		margin-top: 10px;
		font-size: 1.3em;
		padding-bottom: 4px;
		padding-left: 5px;
		padding-top: 5px;
		border-radius: 2px;
		background: #076CCA;
		color: #fff;
	}


	.statusUpdates h5 span.statusCount, .quickStatusUpdates h5 span.statusCount{
		padding: 0px 4px;
		background: #f1f1f1;
		border: thin solid #ccc;
		border-radius: 2px;
		margin-bottom: 2px;
		color: #0771D3;
	}

	.quickStatusUpdates{
		margin: 10px;
	}

	.modalBox h3{
		font-size: 20px;
	}

	.statusUpdateText{
		text-align: right; 
		float:right; 
		font-size: .7em; 
		color: #ccc;
		padding: 4px;
	}

	.topCurrentStatus{
		font-size: 14px;
		vertical-align: bottom;
		padding: 5px;
		margin-top: 5px;
		background: #1ADB2B;
	}

.statusList{
	padding-left: 5px;
	padding-right: 10px;
	border: thin solid #f1f1f1;
}

	.statusList li{
		margin-left: 5px;
		list-style: none;
	}

	.statusList p.status{
		border: thin solid #ccc;
		border-radius: 1px;
		padding: 10px;
		margin: 25px 0;
		box-shadow: 2px 1px 2px 1px #E0E0E0;
	}

		.statusList p.statusMeta{
			border-top: none;
			border-left: thin solid #ccc;
			border-right: thin solid #ccc;
			border-bottom: thin solid #ccc;
			border-radius: 0 0 4px 4px;
			padding: 5px;
			width: 85%;
			text-align: left;
			text-indent: 5px;
			margin-top: -26px;
			margin-left: 5px;
			font-size: .8em;
			font-weight: bold;
		}


	.commentsCurrentStatus{
		
	}

		.statusList p.oddMeta{
			border-top: none;
			border-left: thin solid #000;
			border-right: thin solid #000;
			border-bottom: thin solid #000;

		}

	.statusList p.evenRow{

	}

	.statusList p.oddRow{
		border: thin solid #000;
	}

	p.firstStatus{
		border: thin solid #0981EF !important;
		/*box-shadow: 0px 0px 6px 0px #0981EF !important ;*/
	}

	.statusMetaSpan{
		font-weight: bold;
	}

	.statusActions li{
		list-style: none;
		display: inline-block;
		margin-bottom: 5px;
	}

	.actionList{
		margin-bottom: 5px;
	}

	.clientReferralAgent{
		text-align: center; 
		padding: 4px; 
		background: #fff; 
		font-weight: bold;
	}

	#sel1 optgroup{
		padding: 5px;
	}

	#sel1 option{
		padding: 5px;

	}

/* ***************
Sidebar
*************** */
.inSide{
	margin-top: 20px;
}

	.innerSidebar{
		margin-bottom: 20px;
	}

.sidebarImg{
	display: block; 
	margin: 20px auto; 
	text-align: center;
}

.regBox{
	padding: 4px; 
	border-radius: 4px;
	margin: 0;
}

	.regBox h5{
		color: #000; 
		font-weight: bold;
		font-size: 1.2em;
		display: block;
		padding: 5px;
		border-bottom: thin solid #0BD821;
		margin: 5px 0 10px 0;
		border-radius: 2px;
		width: 40%;
		background: #daffde;
	}

	.regBox p{
		margin-top: 15px;
		margin-left: 10px;
	}

	.contactForm{
		
	}


.contactTextArea{
	height: 120px !important;
}

	.helpInfo p{
		margin-bottom: 5px;
	}

/* ***************
Inhouse List of Clients
**************** */

.filterLabel{
	clear: both;
	background: #f1f1f1;
	color: #000;
	float: left;
	padding: 5px;
	border-right: medium solid #fff;
	font-weight: bold;
}

.filtersBox{
	padding: 5px;
	background: #f1f1f1;
}

#statusSelect{
	margin-left: 5px;
}

#clients_length label, #clients_filter label, #users_length label, #users_filter label{
	margin-top: 20px;
	margin-bottom: 20px;
}

/* ***************
Sign Up Form - Home
**************** */

#form-wrap{
	background: #E1E1E1;
	padding: 10px 10px 10px 10px;
	border-radius: 2px;
}

.signupForm .form-control{

}

.orSection{
	font-weight: bold;  margin: 0 auto 5px auto; background-color: #f1f1f1; width:200px; text-align: center;
}

.contactTop {
	/*background: url("/assets/img/formHeaderbg.png") no-repeat scroll 10px 0 #E1E1E1;*/
	background: #0079E5;
	height: 80px;
	margin-top: 10px;

}

.contactTop h4 {
	color: #FFFFFF;
	font-size: 1.8em;
	font-weight: bold;
	margin: 0 !important;
	padding: 30px 4px 4px 20px;
	text-align: left;
	float: left;
}

	.contactTop img{
		height: 96px;
		width: 98px;
		position: absolute;
		top: 4px;
		right: 10px;
	}

.form-group {
	margin-bottom: 10px;
}

.form-group label{
	margin: 0 !important;
	padding-top: 0px !important;
	display: inline;
}

.notShared{
	font-size: .8em;
	padding: 20px 0 0 0;
}

/* ***************
Footer Page
*************** */
#footer{
	margin-top: 20px;
	padding: 5px;
	border-top: thin solid #ccc;
}

	#footer .credit{
		
	}

	.navfooterWrap ul{
		float: none;
		margin: 10px auto;
		display: inline-block;
		text-align: center;
	}

	#footer > div > div.navfooterWrap.text-center > ul > li{
		margin-right: 5px;
	}

	#footer > div > div.navfooterWrap.text-center > ul > li > a{
		padding-top: 10px;
		padding-bottom: 10px;
		border-radius: 2px;
		
	}

	#footer > div > div.navfooterWrap > ul > li.active{
		text-decoration: none;
		background-color: #eee;
		border-radius: 2px;
	}

	#footer > div > div.navfooterWrap > ul > li:hover{
		text-decoration: none;
		background-color: #eee;
		border-radius: 2px;

	}

.scrollToTop{
	width:38px; 
	height:60px;
	padding:10px; 
	text-align:center; 
	background: whiteSmoke;
	font-weight: bold;
	color: #444;
	text-decoration: none;
	position:fixed;
	top:85%;
	right:60px;
	display:none;
	background: url('/assets/img/toTop.png') no-repeat 0px 20px;
}

.scrollToTop:hover{
	text-decoration:none;
}

/* *******************
Marketing Resource Page
******************** */
ul.resourceUL{
	margin-left: -45px;
}

ul.resourceUL li{
	list-style-type: none;
	margin-bottom: 15px;
	padding: 5px;
	float: left;
	margin-right: 15px;
}


/* ***************
RESPONSIVE STYLES
*************** */

@media (min-width: 768px) and (max-width: 1200px){

	.contactTop h4 {
		color: #FFFFFF;
		font-size: 1.7em;
		font-weight: bold;
		margin: 0 !important;
		padding: 14px 45px 4px 20px;
		text-align: left;
		float: left;
	}

	/* **************************
	*  Recent Activity - Commented out
	*************************** */
	.recentActivityUl li p.activityDetails {
	    margin: 0px;
	    background: none repeat scroll 0% 0% #F1F1F1;
	    float: left;
	    display: block;
	    padding: 0px 0px 0px 1px;
	    width: 99%;
	    border-left: 1px solid #89F893;
	}

	.recentActivityUl li p.activityDate {
	    color: #3A3A3A;
	    display: block;
	    width: 50%;
	    margin: 0px 5px 0px 0px;
	    padding: 0px 2px;
	    font-weight: bold;
	    float: right;
	    text-align: center;
	    line-height: 16px;
	}
	
}

@media (max-width: 767px){

	#homeWrap h3{
		font-size: 19px ;
	}

	.subHeader{
		  font-size: 14px;
	}

	.panel-body ol{padding: 0;}
	.panel-body ul{padding: 0 0 0 15px;}

	.page-header h3{
		font-size: 20px;
	}

	.regBox h5{
		width: 99%;
	}

	h2.mainTitle{
		font-size: 26px;
	}

	h4.clientInfoHeader{
		font-size: 16px;
	}

	#clients_length label, #clients_filter label, #users_length label, #users_filter label{
	margin-top: 10px;
	margin-bottom: 10px;
	}

	#clearFilter{
		margin-top:15px;
	}

	#statusSelect{
		width: 160px;
	}

	.contactTop h4 {
		padding: 15px 4px 4px 20px;
	}

	.quickStatusUpdates{
		margin-top: 20px;
	}

	.quickStatusUpdates h5{
		padding-bottom: 10px;
	}

	.quickStatusUpdateText{
		font-size: .6em; 
	}


	.statusUpdates{
		margin-top: 20px;
		border-top: thin solid #ccc;
	}

	.statusUpdates h5{
		padding-bottom: 10px;
	}

	.statusUpdateText{
		font-size: .6em; 
	}

	.topCurrentStatus{
		margin: 10px 15px 10px 0;
	}

	#defaultNav .user-nav {
		margin-right: 2px;
		width: 99%;
		margin-bottom: 20px;
		margin-left: 2px;
	}

	.agentFeaturesSignup ul{
		padding: 0 0 0 15px;
	}

	.sidebarH4{
		font-size: 1.6em; 
	}



	/* **************************
	*	Header Mobile Navigation Styles
	*************************** */

	.navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
		color: #000;
		background: #fff;
		padding: 10px 20px;
	}

	.navbar-inverse .navbar-nav .open .dropdown-menu>li>a:hover{
		padding: 10px 20px;
		color: #000;
		background-image: -webkit-linear-gradient(top,#f5f5f5 0,#e8e8e8 100%);
		background-image: linear-gradient(to bottom,#f5f5f5 0,#e8e8e8 100%);
		background-repeat: repeat-x;
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#ffe8e8e8', GradientType=0);
		background-color: #e8e8e8;
	}

	.navbar-inverse .navbar-nav .open .dropdown-menu>.active>a, .navbar-inverse .navbar-nav .open .dropdown-menu>.active>a:hover, .navbar-inverse .navbar-nav .open .dropdown-menu>.active>a:focus {
		color: #fff;
		background-image: -webkit-linear-gradient(top,#428bca 0,#357ebd 100%);
		background-image: linear-gradient(to bottom,#428bca 0,#357ebd 100%);
		background-repeat: repeat-x;
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff428bca', endColorstr='#ff357ebd', GradientType=0);
		background-color: #357ebd;
		}

	.navbar-nav .open .dropdown-menu {
		position: static;
		float: none;
		width: auto;
		margin-top: 0;
		background-color: #fff;
		border: 0;
		box-shadow: none;
	}


	.navbar-toggle{
		margin-top: 14px;
		background: #3099f9;
		
	}

	.navbar-inverse .navbar-toggle .icon-bar{
		background: #fff;
	}

	#clients_filter input{
		margin-top: 10px;
		width: 70%;
	}

	/* **************************
	*	Footer Mobile Navigation Styles
	*************************** */
	.navWrap ul{
		float: none;
	}

	.navfooterWrap ul{
		float: none;
		width: 265px;
	}

	.navbar-default .navbar-nav>li{
		margin-bottom: 5px;
	}

	.navbar-default .navbar-nav>li>a{
		padding: 10px 10px;
	}

	.contactForm{
		margin-left: 0%;
	}

	.notShared {
		padding: 20px 0 0 0;
	}

	.disclaimer {
		width: 90%;
		font-size: .85em;
		margin: 0 auto;
	}

	.scrollToTop {
		width: 100px;
		height: 130px;
		padding: 10px;
		text-align: center;
		font-weight: bold;
		color: #444;
		text-decoration: none;
		position: fixed;
		top: 88%;
		right: -20px;
		display: none;
		background: url('/assets/img/toTop.png') no-repeat 0px 20px;
	}

	/* **************************
	*  Recent Activity
	*************************** */
	.recentActivityUl li p.activityDetails {
	    margin: 0px;
	    background: none repeat scroll 0% 0% #F1F1F1;
	    float: left;
	    display: block;
	    padding: 0px 0px 0px 1px;
	    width: 99%;
	    border-left: 1px solid #89F893;
	    border-radius: 0px 0px 5px;
	}

	.recentActivityUl li p.activityDate {
	    color: #3A3A3A;
	    display: block;
	    width: 31%;
	    margin: 0px 5px 0px 0px;
	    padding: 0px 2px;
	    font-weight: bold;
	    float: right;
	    text-align: left;
	    line-height: 16px;
	}

}